.welcome-block__content{
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 450px);
    height: 500px;
    width: 900px;
    background-color: rgb(255, 255, 255);
    padding: 25px 45px 25px 45px;
    border-radius: 25px;
}