.welcome-block__circular-arrow {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 100%;
    position: relative;
    animation: down 1.5s infinite;
    margin: -15px auto 42px auto;
    box-sizing: border-box;
}
.welcome-block__circular-arrow::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 11px;
    width: 16px;
    height: 16px;
    border-left: 2px solid rgb(7, 46, 79);
    border-bottom: 2px solid rgb(7, 46, 79);
    transform: rotate(-45deg);
}

.welcome-block__circular-arrow:hover {
    cursor: pointer;
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translate(0);
    }
}