.news-block__item__info {
    position: absolute;
    bottom: 45px;
    left: 45px;
    width: 35%;
    height: 150px;
}

.news-block__item__info h1 {
    color: white;
    text-align: left;
    font-size: 2em;
}

.news-block__item__info p {
    color: white;
    text-align: left;
    font-weight: 300;
}

.news-block__item__info .participate {
    background-color: #ffffff;
    border: none;
    height: 40px;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 10px;
    transition: all 0.5s ease-out;
}

.news-block__item__info .add-favorite {
    background: linear-gradient(45deg, #fcd699,#ffbb0c);
    border: none;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
}

.news-block__item__info .participate:hover {
    color: black;
    transform: translate(0,-3px);
}
.news-block__item__info .participate:focus {
    color: black;
    transform: translate(0,-3px);
}

.news-block__item__info .add-favorite:hover {
    color: black;
    transform: translate(0,-3px);
}
.news-block__item__info .add-favorite:focus {
    color: black;
    transform: translate(0,-3px);
}