.welcome-block__content{
    position: absolute;
    top: calc(60% - 280px);
    left: calc(50% - 450px);
    height: 500px;
    width: 900px;
    z-index: 4 !important;
    background-color: rgb(255, 255, 255);
    padding: 25px 45px 25px 45px;
    border-radius: 25px;
    box-shadow: 0 0 50px 1px rgba(10, 60, 103, 0.25);
}

.welcome-block__content__col-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-block__content__col-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid;
    border-color: rgba(3,0,31,0.1);
}

@media only screen and (max-width: 768px) {
    .welcome-block__content__col-logo {
       display: none;
    }
    .welcome-block__content__col-form {
        border: none;
    }
}

@media only screen and (max-width: 950px) {
    .welcome-block__content{
        top: calc(60% - 280px);
        width: calc(100% - 25px);
        left: calc(12.5px);
    }
}