.profile-retrieve-block__profile-info {
    width: 100%;
    height: 540px;
    background-color: #f4f9ff;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 0 50px 1px rgba(10, 60, 103, 0.32);
    position: absolute;
    bottom: 0;
    text-align: center;
    animation: bloc 1s forwards;
}


@keyframes bloc {
    from {height: 0;}
    to {height: 540px;}
}