.welcome-block {
    position: relative;
    height: 100vh;
    background: linear-gradient(
            45deg,
            rgba(3, 0, 31, 0.95),
            rgba(5, 61, 112, 0.7)
    ),
    url(../../../img/home-intro.gif);
    background-size: cover;
    transform: translateZ(0);
    animation: fon 3s forwards;
    clip-path: polygon(50% 0, 0 0, 110% 0);
    z-index: -1;
}
@keyframes fon {
    100% {
        clip-path: polygon(50% 80%, -50% 0, 150% 0);
    }
}