.welcome-block__menu{
    color: white;
    text-align: center;
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(
            45deg,
            rgba(3, 0, 31, 0.4),
            rgba(5, 61, 112, 0.28)
    );
}
.welcome-block__menu a {
    color: white;
    transition: all 0.5s ease-out;
}

.welcome-block__menu__item a:hover{
    color: rgba(255, 255, 255, 0.98);
    border-bottom-color: rgba(255, 255, 255, 0.98);
    border-bottom: 1px solid;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 110%;
}